<h1>{{title}}</h1>

<div
  [style.color]="color"
>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra sagittis dolor vel elementum. Fusce vitae accumsan turpis, et congue elit. Phasellus id semper nisi, eget hendrerit leo. Praesent volutpat sodales eros. Sed rhoncus nibh justo, et pellentesque tellus porttitor a. In sed libero ullamcorper, iaculis ante eget, fringilla massa. Suspendisse vitae turpis at turpis suscipit volutpat eu at dui. In ut enim sollicitudin, egestas augue id, malesuada elit. Vivamus facilisis felis id turpis hendrerit dignissim. Vestibulum volutpat rhoncus nunc quis varius. Sed euismod tortor ac leo congue vestibulum. Aliquam lobortis laoreet nunc ac porttitor. Proin porttitor odio turpis, id finibus quam viverra finibus.
  <br>
  Nullam eleifend dignissim libero vel molestie. In sollicitudin viverra velit. Quisque lobortis est sit amet magna elementum eleifend. Ut at cursus turpis, non maximus tellus. Donec in felis et dolor bibendum interdum. Sed eros libero, tincidunt id felis quis, faucibus fringilla lorem. Donec porttitor tortor eu elementum facilisis. Fusce erat quam, maximus at ullamcorper in, bibendum nec neque. Mauris fringilla pharetra lorem. Quisque et metus non mi ullamcorper feugiat nec non nibh. Fusce interdum ante dolor, vitae laoreet urna placerat eu. Mauris sed dolor sapien.
  <br>
    Generated 2 paragraphs, 189 words, 1292 bytes of Lorem Ipsum
  </p>
</div>
